/* Hero section */
.hero {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    color: #000;
}

.hero h3 {
    padding: 5px 0;
    font-weight: 600;
    font-size: 26px;
}

/* Product section */
.product-section {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-section h3 {
    font-weight: 600;
    font-size: 26px;
}

.product-section .product-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
}

.product-section .product-card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    margin: 20px;
    border-radius: 15px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-card img {
    border: 1px solid #000;
    width: 250px;
    height: 250px;
}

.product-card h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 5px 0;
}

.product-card .price {
    font-size: 22px;
    margin: 5px 0;
}

.product-card .view-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
}

.product-card .view-more:hover {
    background-color: #333;
}
