/* Product section */
.product-section {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-section h3 {
    font-weight: 600;
    font-size: 26px;
}

.product-section .product-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
}

.product-section .product-card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    margin: 20px;
    border-radius: 15px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-card img {
    width: 250px;
    height: 250px;
}

.product-card h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    text-align: center;
}

.product-card .price {
    font-size: 22px;
    margin: 5px 0;
}

.product-card .view-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: #000;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px 0;
}

.product-card .view-more a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.product-card .view-more:hover {
    background-color: #333;
}